<div class="bg-white rounded-lg shadow sm:max-w-md sm:w-full sm:mx-auto sm:overflow-hidden">
    <div class="px-4 py-8 sm:px-10">
        <div class="relative mt-6">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-t border-gray-300">
                </div>
            </div>
            <div class="relative flex justify-center text-sm leading-5">
                <span class="px-2 text-gray-500 bg-white">
                    Add Product
                </span>
            </div>
        </div>
        <div class="mt-6">
            <div class="w-full space-y-6">
                <div class="w-full">
                    <div class=" relative ">
                        <input type="text" id="search-form-price"
                            class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Product Name" [(ngModel)]="name" />
                    </div>
                </div>
                <div class="w-full">
                    <div class=" relative ">
                        <input type="text" id="search-form-location"
                            class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Product Price" [(ngModel)]="price" />
                    </div>
                </div>
                <div class="w-full">
                    <div class=" relative ">
                        <input type="text" id="search-form-name"
                            class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Product Stock" [(ngModel)]="stock"/>
                    </div>
                </div>


                <div class="w-full">
                    <div class=" relative ">
                        <input type="text" id="search-form-name"
                            class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Product Description" [(ngModel)]="description" />
                    </div>
                </div>

                <div class="w-full">
                    <div class=" relative ">
                        <input type="text" id="search-form-name"
                            class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                            placeholder="Product Image" [(ngModel)]="image" />
                    </div>
                </div>

                <div class="w-full">

                    <select
                        class="block w-52 text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
                        name="animals" [(ngModel)]="category"> 
                        <option value="">
                            Select Product Category
                        </option>
                        <option value="children">
                            children
                        </option>
                        <option value="men">
                            men
                        </option>
                        <option value="woman">
                            woman
                        </option>
                    </select>
                   

                </div>




               

                <div>
                    <span class="block w-full rounded-md shadow-sm">
                        <button type="button"
                            class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg " (click)="Add()">
                            Add
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
  
</div>