<mat-toolbar>
   <h3>Admin Dashboard</h3>
   
</mat-toolbar>


<mat-sidenav-container>
    
    <mat-sidenav mode="side" opened class="bg-gray-300">
       <img src="assets/admin_profile.jpg" alt="" class="rounded-full">
       <h5 class="uppercase">Sahil</h5>
       <div>
        
        <a routerLink="/dashboard"><h4>Dashboard</h4></a>
        <a routerLink="/manage-products"><h4>Products</h4></a>
        <a href="http://localhost:4200/"><h4>Home</h4></a>
        
        <!-- <a href=""><Button>Log out</Button></a> -->
      
       </div>
         
    </mat-sidenav>
      
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
      <!-- <app-navbar></app-navbar> -->
  
    </mat-sidenav-content>

</mat-sidenav-container>
